.navbar {
  height: 50px;
  max-width: 1200px;
  width: 100%;
  background-color: aqua;
  color: rgb(7, 5, 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 2s;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  opacity: 90%;
  max-width: 1200px;
}
