.navbar {
  height: 50px;
  max-width: 1200px;
  width: 100%;
  background-color: #f3b749;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 300ms;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  opacity: 90%;
}
